[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
thoth-common = "*"
attrs = "*"
requests = "*"
pyyaml = "*"
gitpython = "*"
click = "*"
thoth-storages = "*"
thoth-adviser = "*"
ogr = "*"
google-cloud-bigquery = "*"
python-dateutil = "*"
thoth-python = "*"

[dev-packages]
types-attrs = "*"
types-requests = "*"

[requires]
python_version = "3.8"
